# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env
.env.*

# Mac OS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Database
*.sqlite3
*.db
*.db-journal
*.sql
*.bak

# Chroma vector db
chroma_db/

# Jupyter Notebook
.ipynb_checkpoints

output/
